header {
  position: relative;
  font-family: "Iceland", cursive;

  video {
    width: 100%;
    height: auto;
    z-index: -1;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      width: 50%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 30px;
    }
  }

  .content {
    position: absolute;
    bottom: 9.5rem;
    right: 5rem;

    a {
      background-color: black;
      color: white;
      font-size: 2rem;
      padding: 0.5rem 1rem;
    }
  }
}
