.services {
  padding: 7.5rem; // overall section margin

  h1 {
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    width: fit-content;
    margin: auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 15px;
      width: 160.5px;
      height: 95px;
      background: url(../images/heading-shape.svg) no-repeat center center/cover;
      z-index: -1;
    }
  }

  .service {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 7.5rem 0; // each service margin
    height: 25rem;
    position: relative;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      h2 {
        font-size: 30px;
        font-weight: 300;
        border-bottom: 2px solid yellow;
        padding: 1rem 2rem; // for underline
      }

      p {
        font-size: 28px;
        font-weight: 200;
        line-height: 37px;
        text-align: center;
      }
    }
    .arrow {
      position: absolute;
      bottom: -5rem;
      left: 50%;
    }
  }

  .more {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 15rem;
    border: 1px solid black;
    padding: 0.5rem 2.5rem;
    font-size: 28px;
    font-weight: 300;
  }
}

.web-development .vector {
  background: url(../images/web-development.svg) no-repeat center center/contain;
}

.branding .vector {
  background: url(../images/branding.svg) no-repeat center center/contain;
}

.b2b .vector {
  background: url(../images/b2b.svg) no-repeat center center/contain;
}
