.domains-section {
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;

    .tab {
      padding: 0.5rem 5rem;
      border-radius: 1.5rem;
      background-color: darkslategray;
      font-size: 20px;
      font-weight: 500;
      background-color: #d9d9d9;
      color: white;
      cursor: pointer;

      &:nth-child(2) {
        background-color: #f4e9e9;
        z-index: -1;
        position: relative;
        right: 2rem;
      }
    }
  }

  .domains {
    .domain {
      display: grid;
      grid-template-columns: 2fr 3fr;
      justify-items: center;

      &:nth-child(2) .content .availability {
        background-color: #619426;
      }

      .content {
        width: 65%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        h2,
        .availability {
          font-size: 24px;
          font-weight: 300;
        }

        .availability {
          padding: 0.25rem 3.5rem;
          background-color: #80cc28;
          color: white;
          width: fit-content;
          border-radius: 1.5rem;
        }

        .text {
          font-size: 20px;
          font-weight: 300;

          p:first-child {
            margin-bottom: 2rem;
          }

          ul {
            padding-left: 2.5rem;
          }
        }
      }
    }
  }
}
